{% extends 'base.html' %}
{% block content %}
        <div class="container">
            <h2>About Me and my Blog!</h2>
            <div class="card mt-5 mb-5" style="width:100%">
              <div class="card-body">
                <h4 class="card-title">Joseph Emefieh</h4>
                  <p class="card-text">My name is Joseph Emefieh. I have alaways loved computers from the first time I saw them. I guess this made me want to study computer engineer initially. However, I got advice that made me study electrical electronics Engineering. I have never regretted doing that as i have foud the course more or less all encompassing. I did courses on computer programming and architecture and learnt a lot of things that still brought me back to my first love computers. I also love looking at other tech products particulary mobile phones hence the blog posts for now are mostly about phones.</p>
                <p class="card-text">My first ever formal workplace was at Digital bridge Institue as a computer support officer. That was during my SIWES program..</p>
                  <p class="card-text">You can translate your thoughts using the translator app built into this project.</p>
                <a href="#" class="btn btn-primary">See Profile</a>
              </div>
            </div>
        </div>
{% endblock content %}